.form{
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.16);
   
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(60, 8, 60)
}

.form-control input{

     display: block;
     box-sizing: border-box;
     width: 100%;
     outline: none;
     margin-top: 10px;
     padding: 5px;
     font-size: 24px;
     
}

.form-control label{
    color: white;
    font-size: 24px;
    font-weight: bold;
   
}

.form-btn{
    font-size: 24px;
    border-radius: 8px;
    padding: 8px 10px ;
    font-weight: bold;
    box-shadow: 0 ,0, 0,rgba(0,0,0,0.16);
    border: none;
    display: block;
    margin-top: 10px;
    
}